 <ul id="navUl">
    <li class="renderOnSm">
        <input id="menutoggle" class="menucheck" type="checkbox" onclick="toggleNav()">
        <label for="menutoggle" class="menutext">Menu</label>
    </li>
    {% for item in site.data.navlist.docs %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    <li>
        <a href="https://github.com/WattleScript/wattlescript">
            <div class="github-icon">Github</div>
        </a>
    </li>
 </ul>
<script>
    function toggleNav() {
        document.getElementById("navUl").classList.toggle("navChecked");
    }
</script>